@import '../app/app';

.cart {
  background-color: white;
  overflow-y: auto;

  &__title {
    font-family: Bold;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    background-color: $base-color-light;
    color: white;
  }


}