@font-face {
  font-family: "Reg";
  src: url('../fonts/MPLUSRounded1c-Regular.ttf');
}

@font-face {
  font-family: "Bold";
  src: url('../fonts/MPLUSRounded1c-Bold.ttf');
}

@font-face {
  font-family: "Light";
  src: url('../fonts/MPLUSRounded1c-Light.ttf');
}

@font-face {
  font-family: "Semibold";
  src: url('../fonts/MPLUSRounded1c-Medium.ttf');
}
