//Colors
$base-color: #B9152E;
$base-color-light: #ee1b3b;
$extra-color: #ffb422;
$extra-color-light: #ffb422;
$grey-color: #6c6365;
$grey-color-light: #ededed;


// Media screens
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
