@import '../app/app';

.reset-password {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  padding: 5% 0;
  align-items: center;
  width: 70%;
  max-width: 400px;

  &__title {
    @extend %title-white;
    padding: 1em;
    font-size: 1.5em;
  }

  &__label {
    @extend %label;
    align-self: start;
    //padding: 0;
  }


  &__input {
    @extend %input;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 1em;
    transition: none;
  }

  &__error {
    @extend %base-text;
    text-align: center;
    font-size: 1em;
    color: $extra-color-light;
    margin-bottom: 1em;
  }

  &__submit {
    width: 100%;
    background-color: $extra-color;
    transition: 0.5s;
    margin-top: 0.5em;
    padding: 0.7em 1em;
    border-radius: 0.3em;

    &:hover {
      cursor: pointer;
      background-color: $grey-color-light;
    }

  }
}




