@import "../../assets/scss/utils";

body {
  @extend %base-text;
  background-color: $base-color;
}

.wrapper {
  @extend %wrp;
  display: flex;

}

.left-sidebar {
  display: flex;
  position: sticky;
  top: 0;
  flex: 1;
  background-color: white;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}

.main {
  flex: 3;
  flex-wrap: wrap;
}


.right-sidebar {
  display: flex;
  flex: 1;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: auto;
}