@import '../app/app';


.checkout-promo-code {
  display: flex;
  flex-direction: row;
  background-color: $grey-color-light;
  padding: 2em;
  width: 100%;
  justify-content: space-between;
}

.promo-code {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;

  &__label {
    margin-bottom: 0.5em;
  }

  &__input {
    @extend %base-text;
    font-size: 1.1em;
    color: $grey-color;
    padding: 0.5em;
    width: 100%;
    border-style: solid;
    border-radius: 0.3em;
    border-color: $grey-color-medium;
    border-width: 1px;

    &:focus {
      border-style: solid;
      padding: calc(0.5em - 1px) calc(0.5em - 1px);
      border-color: $grey-color-medium;
      border-width: 2px;
    }
  }

  &__remove {
    @extend %base-text;
    color: $grey-color;

    &:hover {
      cursor: pointer;
      color: $base-color-light;
    }
  }

  &__submit {
    background-color: white;
    padding: 0.6em 1em;
    margin-top: 0.5em;
    width: fit-content;
    opacity: 1;
    transition: 0.5s;
    border-radius: 0.3em;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: $grey-color-medium;
    }

  }

}

.checkout-price {
  display: flex;
  flex-direction: column;
  text-align: end;

  &__without-sale {
    @extend %base-text;
    color: $grey-color;
  }

  &__sale {
    @extend %base-text;
    color: $base-color-light;
  }

  &__total {
    @extend %title;
    font-size: 1.2em;
  }


}