@import "../app/app";

.header-wrapper {
  background-color: $base-color-light;
  color: white;
  height: auto;
}

.menu-wrapper {
  @extend %wrp;
  padding: 1em;
  display: flex;

  @media screen and (max-width: $smDesktopWidth) {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  &__link {
    align-self: center;
  }

  &__img {
    max-width: 200px;
  }
}







