@import '../app/app';

.product-page {
  background-color: white;
  margin: 1em 1em 0 1em;
  padding: 1em;
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__bottom-block {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    display: flex;
    flex-flow: column wrap;
  }

  &__right-side {
    display: flex;
    flex-flow: nowrap column;
    flex-basis: 40%;
    align-self: center;
  }

  &__image {
    max-width: 100%;
    max-height: 38em;
  }

  &__price {
    @extend %title-center;
    font-size: 1.1em;
    margin-top: 1em;
  }

  &__title {
    @extend %title;
    padding-top: 1em;
    font-size: 1.1em;
    opacity: 1;
    transition: 0.3s;
  }


  &__text {
    @extend %base-text;
    padding: 0.7em 0;

    &-bold {
      font-family: Bold, sans-serif;
    }

    &-trademark {
      margin-top: 0.5em;
    }

  }

  &__tag {
    @extend %base-text;
    display: inline-flex;
    width: fit-content;
    background-color: $grey-color-light;
    padding: 0.3em 0.5em;
    line-height: 2;
    border-radius: 3px;
    margin: 0.5em 0.5em 0 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}


