@import '../app/app';

.search {
  margin: 0 1em 1em 1em;

  .form {
    width: 100%;
  }

  .close-icon {
    font-size: large;
    position: absolute;
    margin-left: -1.5em;
    transition: 0.5s;
    line-height: 2em;
    color: $grey-color;

    &:hover {
      cursor: pointer;
      color: $base-color-light;
      transform: rotate(-180deg);
    }
  }

  .input {
    padding: 0.7em;
    border-radius: 0.3em;
    width: 100%;
  }

  &__list {
    width: available;
    display: block;
    position: absolute;
    background-color: white;
    padding: 1em;

    li {
      padding: 1em;
      transition: 0.3s;

      &:hover {
        background-color: $grey-color-light;
      }

    }

    #show-all-products:hover {
      cursor: pointer;
    }

  }


}