@import "../app/app";

.auth-block {
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.4s ease-in-out;

  &-hidden {
    top: -150vh;
  }
}

#close_auth_form {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  padding: 2em;
  font-size: xx-large;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.05em) rotate(90deg);
  }
}

.auth {
  padding-top: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;

  &__form {
  width: 70%;
  max-width: 400px;
}

  &__title-block {
    @extend %title-center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;

    .title {
      opacity: 0.6;
      color: white;
      font-size: 1.5em;
      margin: 1em;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &-active {
        opacity: 1;
      }

    }


  }

  &__label {
    @extend %label;
  }

  &__input {
    @extend %input;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 1em;
    transition: none;
  }

  &__error {
    @extend %base-text;
    text-align: center;
    font-size: 1em;
    color: $extra-color-light;
    margin-bottom: 1em;
  }

  &__submit {
    width: 100%;
    background-color: $extra-color;
    transition: 0.5s;
    margin-top: 0.5em;
    padding: 0.7em 1em;
    border-radius: 0.3em;

    &:hover {
      cursor: pointer;
      background-color: $grey-color-light;

    }

  }
}

.login-form {
  width: 100%;
}
